<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Create Account - Social Circles</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Spicy+Rice&display=swap" rel="stylesheet">    
</head>
<body>
    <header>
        <a class="title" href="/">
            <h1>SOCIAL</h1>
            <span class="dot"></span>
            <h1>CIRCLES</h1>
        </a>
        <nav>
            <ul>
                <a href="/playoffline"><li>play</li></a>
                <a href="/characters"><li>characters</li></a>
                <a href="/login"><li class="current-page">log in</li></a>
            </ul>
        </nav>
    </header>
    <div class="body">
        <div class="login-box">
            <form action="/register" method="post">
                <input type="text" name="username" placeholder="username...">
                <input type="password" name="password" placeholder="password...">
                <input type="submit" value="create account">
            </form>
            <a href="/login">log in</a>
        </div>
    </div>
</body>