<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Edit Account - Social Circles</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Spicy+Rice&display=swap" rel="stylesheet">    
</head>
<body>
    <header>
        <a class="title" href="/">
            <h1>SOCIAL</h1>
            <span class="dot"></span>
            <h1>CIRCLES</h1>
        </a>
        <nav>
            <ul>
                <a href="/play"><li>play</li></a>
                <a href="/characters"><li>characters</li></a>
                <a href="/account"><li>account</li></a>
            </ul>
        </nav>
    </header>
    <div class="body">
        <div class="login-box">
            <form action="/change-username" method="post">
                <input type="text" name="newUsername" placeholder="username...">
                <input type="submit" value="change username">
            </form>
            <form action="/change-password" method="post">
                <input type="password" name="newPassword" placeholder="password...">
                <input type="submit" value="change password">
            </form>
        </div>
    </div>
</body>