<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %>: Social Circles Game</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Spicy+Rice&display=swap" rel="stylesheet">    
</head>
<body>
    <header>
        <a class="title" href="/">
            <h1>SOCIAL</h1>
            <span class="dot"></span>
            <h1>CIRCLES</h1>
        </a>
        <nav>
            <ul>
                <a href="/play"><li>play</li></a>
                <a href="/characters"><li>characters</li></a>
                <a href="/account"><li>account</li></a>
            </ul>
        </nav>
    </header>
    <div class="body">
        <div class="about">
            <h2>
                SOMETIMES LIFE 
                <b>IS</b> 
                A POPULARITY CONTEST</h2>
            <p>
                do you have what it takes to rise to the top? optimize your social standing by figuring out what each group of friends
                <b>really</b>
                likes, and compete to become the most popular player in the world
            </p>
            <a href="/play"><button>play</button></a>
        </div>
        <div class="leaderboard">
            <h3>leaderboard</h3>
            <div class="lists">
                <ol>
                    <% topUsers.forEach(user => { %>
                        <li><%= user.username %></li>
                      <% }); %>
                </ol>
                <ul>
                    <% topUsers.forEach(user => { %>
                        <li><%= user.score %></li>
                      <% }); %>
                </ul>
            </div>
        </div>
    </div>