<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Character Name - Social Circles</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Spicy+Rice&display=swap" rel="stylesheet">    
</head>
<body>
    <header>
        <a class="title" href="/">
            <h1>SOCIAL</h1>
            <span class="dot"></span>
            <h1>CIRCLES</h1>
        </a>
        <nav>
            <ul>
                <a href="/play"><li>play</li></a>
                <a href="/characters"><li>characters</li></a>
                <%- include('../partials/loginaccount') %>
            </ul>
        </nav>
    </header>
    <div class="body">
        <div class="rectangle">
            <div class="upper">
                <div class="upper-left">
                    <div id="page-pic">
                        <img src="<%= thumbnail_url %>">
                    </div>
                </div>
                <div class="upper-right">
                    <h2 class="name"><%=name%></h2>
                </div>
            </div>
            <div class="lower">
                <div class="lower-left">

                </div>
                <div class="lower-right">
                    <ul>
                        <li>
                            they 
                            <% if(likes_compliments === 1) {%>
                            <b>LOVE</b>
                            <%} else {%>
                            <b>HATE</b>
                            <%}%>
                            receiving compliments
                        </li>
                        <li>
                            they 
                            <% if(likes_help === 1) {%>
                            <b>LOVE</b>
                            <%} else {%>
                            <b>HATE</b>
                            <%}%>
                            receiving help
                        </li>
                        <li>
                            they 
                            <% if(likes_events === 1) {%>
                            <b>LOVE</b>
                            <%} else {%>
                            <b>HATE</b>
                            <%}%>
                            being invited to events
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>